<header>
    <a href="#" class="logo"><img src="https://i.imgur.com/e75G7zQ.png"></a>

    <ul class="navbar">
        <li><a href="<%= root_path %>" class="active">Home</a></li>
        <%# <li><a href="#">Shop</a></li> %>
        <% if user_signed_in? && current_user.admin? %>
          <li><a href="<%= activity_logs_path %>" class="active">Admin Log</a></li>
          <li><a href="<%= admin_root_path %>" class="active">Admin Board</a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><a href="<%= new_product_path %>">Create Your Product</a></li>
        <% end %>
    </ul>

    <div class="icons">
      <div class="dropdown">
        <button class="#" type="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            <li><%= link_to "Profile", user_home_path(current_user), class: "dropdown-item" %></li>
          <% else %>
            <li><%= link_to "New? Sign In", new_user_registration_path, class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
      <% if current_user.present? && current_user.orders.present? %>
        <a href="<%= history_home_path(current_user) %>"><i class="bi bi-bag-check"></i></a>
      <% end %>
      <% if current_user.present? && current_user.favorites.present? %>
        <a href="<%= favorite_home_path(current_user)%>"><i class="bi bi-bag-heart"></i></a>
      <% end %>
      <%# <a href="#" class="bi bi-list" id="menu-icon"></a> %>
      <% unless user_signed_in? %>
        <a href="<%= admin_user_path %>" class="btn-home">Portfolio</a>
      <% end %>
    </div>
</header>