<header>
    <a href="#" class="logo"><img src="https://i.imgur.com/e75G7zQ.png"></a>

    
    <%# Navbar Links_to %>
    <ul class="navbar">
        <li><a href="<%= root_path %>" class="active">Home</a></li>
        <% if user_signed_in? && current_user.admin? %>
          <li><a href="<%= admin_root_path %>" class="active">Admin Board</a></li>
        <% end %>
    </ul>

    
    <%# Icons %>
    <div class="icons">
      <div class="dropdown">
        <button class="#" type="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            <li><%= link_to "Profile", user_home_path(current_user), class: "dropdown-item" %></li>
            <li><span class="dropdown-item">Balance: <%= number_to_currency(current_user.wallet.balance) %></span></li>
          <% else %>
            <li><%= link_to "New? Sign In", new_user_registration_path, class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>

      <%# History Section %>
      <% if current_user.present? %>
        <a href="<%= history_home_path(current_user) %>"><i class="bi bi-bag-check"></i></a>
      <% else %>
        <a href="<%= new_user_session_path %>"><i class="bi bi-bag-check"></i></a>
      <% end %>
      
      <%# Favorite Section %>
      <% if current_user.present? %>
        <a href="<%= favorite_home_path(current_user) %>"><i class="bi bi-bag-heart"></i></a>
      <% else %>
        <a href="<%= new_user_session_path %>"><i class="bi bi-bag-heart"></i></a>
      <% end %>

      <%# Create a new Product Section %>
      <% if user_signed_in? %>
        <a href="<%= new_product_path %>"><i class="bi bi-box"></i></a>
      <% end %>

      <%# Portfolio Button for Jobs/etc %>
      <% unless user_signed_in? %>
        <a href="<%= admin_user_path %>" class="btn-home">Portfolio</a>
      <% end %>
    </div>
</header>