<header>
    <a href="#" class="logo"><img src="https://i.imgur.com/e75G7zQ.png"></a>

    <ul class="navbar">
        <li><a href="<%= root_path %>" class="active">Home</a></li>
        <%# <li><a href="#">Shop</a></li> %>
        <% if user_signed_in? && current_user.admin? %>
          <li><a href="<%= activity_logs_path %>" class="active">Admin Log</a></li>
          <li><a href="<%= admin_root_path %>" class="active">Admin Board</a></li>
        <% end %>
        <% if user_signed_in? %>
        <li><a href="<%= new_product_path %>">Create Your Product</a></li>
        <% end %>
    </ul>

    <div class="icons">
      <% if user_signed_in? %>
        <a href=" <%= user_home_path(current_user) %>"><i class="bi bi-person"></i></a>
          <% if current_user.cart.present? %>
            <a href="<%= cart_path(current_user.cart) %>"><i class="bi bi-cart"></i></a>
          <% else %>
            <a href="<%= root_path %>"><i class="bi bi-cart"></i></a>
          <% end %>
      <% else %>
        <a href=" <%= new_user_session_path %>"><i class="bi bi-person"></i></a>
      <% end %>
      <% if current_user.present? && current_user.orders.present? %>
        <a href="<%= history_home_path(current_user) %>"><i class="bi bi-bag-check"></i></a>
      <% end %>
      <a href="#"><i class="bi bi-bag-heart"></i></a>
      <%# <a href="#" class="bi bi-list" id="menu-icon"></a> %>
      <% unless user_signed_in? %>
        <a href="<%= admin_user_path %>" class="btn">Portfolio</a>
      <% end %>
    </div>
</header>