<br>
<br>
<table class="table table-borderless w-auto ms-4">
  <caption>Want to buy more? <%= link_to "Buy More", products_path %></caption>
  <% total_order = 0 %>

  <% @cart_items.each do |cart_item| %>
    <% total_order += cart_item.quantity * cart_item.price %>
  <% end %>

  <caption>Total Order: <%= number_to_currency(total_order)%></caption>
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-center">Product</th>
        <th scope="col" class="text-center">Quantity</th>
        <th scope="col" class="text-center">Unit Price</th>
      <%# <th scope="col" class="text-center">ID da compra EM BREVE</th> %>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="align-middle text-center"><%= cart_item.product.name %></td>
          <td class="align-middle text-center">
            <%= link_to "‹", downgrade_quantity_cart_path(@cart, product_id: cart_item.product.id), method: :patch, class: "text-custom-add1" %> 
            <%= cart_item.quantity %>
            <%= link_to "›", update_quantity_cart_path(@cart, product_id: cart_item.product.id), method: :patch, class: "text-custom-add", id: "update-link" %> 
          </td>
          <td class="align-middle text-center"><%= number_to_currency(cart_item.price) %></td>
          <td class="align-middle text-center">
            <%= link_to "Remove", remove_product_from_cart_cart_path(product_id: cart_item.product.id ), class: "remove-button-custom"%>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<br>
<div class="card custom-margin-left" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>Information and Guarantees</strong></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Ruby Shop</h6>
    <p class="card-text">Delivery made by: <strong>Ruby Shop</strong>!</p>
    <a href="https://localhost:3000" class="card-link">Increase Warranty</a>
    <a href="https://localhost:3000" class="card-link">Anti-Theft Guarantee</a>
    <%= link_to "Confirm Order", checkout_cart_path(current_user), class: "card-link"%>
  </div>
</div>