<br>
<br>
<br>
<div class="container details-container">
  <div class="details-header">
    <p>Details of <strong>Product </strong>ID: <%= @product.id %> </p>
  </div>
</div>

<div class="container-show">
  <div class="product-description-show">
    <p class="text-black"><strong><i class="bi bi-file-earmark-text"></i> Description of Product:</strong></p>
    <br>
    <br>
    <p class="text-black"><%= @product.description %></p>
    <div class="info-product-container">
      <p class="text-start fs-6 text-black">Product by: <strong><%= @product.user.email %></strong></p>
      <p class="text-start fs-2 text-dark"><strong><%= number_to_currency(@product.price, unit: 'R$', separator: ',', delimiter: '.') %></p>
      <p class="text-start fs-5 text-dark">Adittions <strong>Coming Soon!</strong></p>
      <br>
      <%= button_to(add_to_cart_cart_path(product_id: @product.id), method: :post, class: "btn btn-primary") do %>
        Add into Cart <i class="bi bi-plus-circle"></i>
      <% end %>
    </div>
  </div>
</div>